
.block
  .title
    ARTICLES
  %ul.list
    -top_articles.each.with_index(1) do |article, i|
      .article_label
        %p
          #{i}. 
          %span
            total #{article.likes.count} likes
      %li
        %h4
          = truncate(article.title, length: 40) do
            %span ...
        %p
          = article.source
          #{time_ago_in_words(article.created_at)} ago


  .more
    View more articles
    
.block
  .title
    USERS
  %ul.list.user_list
    .list_title
      weekly ranking
    - top_users.each_with_index do |user, i|
      %li.s_user.clearfix
        .rank.pull-left.text-center
          #{i+1}.
        =image_tag user.image.profile_sm.url, class: "pull-left profile_xs img-circle"
        .user_info.pull-left
          =link_to user.name, user, class: "name"
          %p.credential.give_me_short_ellipsis
            =user.credential
          %p.grey
            #{Like.where(user_id: user.id).count} total likes
  .more
    See user ranking

