.sidebar_wrapper
	-if current_user
		.profile
			.user_info
				=image_tag user.image.url, class: "img-circle"	
				%h2.name
					=link_to user.name, user_path(user.id)
				%p.shoulder_name.grey= user.shoulder_name
		
			.stats
				%h2.section_title
					Stats
				.stats_item
					%p 
						Posts:
						%span 
							= user.posts.count
				.stats_item
					%p	
						Follower:
						%span 
							= user.followers_count
				.stats_item
					%p
						Following:
						%span 
							= user.following_count
			.like_stats
				%h2.section_title
					// %span.icon
					// 	=render 'svg/blue_like_icon'
					%span
						Likes
					
				%p 
					Week: #{user.weekly_liked_count}
					// %span= Like.where(target_user_id: current_user.id).where(created_at: 48.hours.ago..Time.now).count
		
				%p 
					ALL-TIME: #{user.liked_count}
	-else
		.profile.not_signed_in
			.user_info
				=render 'svg/profile_icon_bold'	
				%h2.name
					No account
				.sign_in_btn
					= link_to "sign-up・log-in", user_facebook_omniauth_authorize_path, class: "login_icon"
		
			.stats
				%h2.section_title
					Stats
				.stats_item
					%p 
						Posts: -
				.stats_item
					%p	
						Follower: -
				.stats_item
					%p
						Following: -
			.like_stats
				%h2.section_title
					%span
						Likes
					
				%p 
					Week: -
				%p 
					ALL-TIME: -
	
	#trending_tags
		%h2.section_title
			%span.title
				Trending Tags
		.trending_tags_block
			-trending_tags.each do |tag|
				%p.tag
					\##{tag.name}
				%br
				

				
		
			
			
		