
= form_with(model: reply, data: { remote: true }) do |form|
  - if reply.errors.any?
    #error_explanation
      %h2
        = pluralize(reply.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - reply.errors.full_messages.each do |message|
          %li= message
          
  .field.form-group.form_textarea
    =image_tag current_user.image.profile_sm.url, class: "reply_image pull-left img-circle"
    = form.text_area :content, placeholder: "content", class: "form-control form_content", style: "border: none; box-shadow: none; resize: none;"
    = form.hidden_field :comment_id, value: comment.id
    = form.hidden_field :user_id, value: current_user.id
  .comment_submit
    = form.submit "Reply", class: "btn submit_btn"
    .cancel_btn.cancel_reply
      Cancel
    
   
  