
= form_with(model: reply, data: { remote: true }) do |form|

	.field.form-group.form_textarea
		.user_image_xs
			=user_image_helper(current_user)
		= form.text_area :content, placeholder: "content", class: "form-control form_content", style: "box-shadow: none; resize: none;"
		= form.hidden_field :comment_id, value: comment.id
		= form.hidden_field :user_id, value: current_user.id
	.comment_submit
		= form.submit "Reply", class: "btn submit_btn"
		.cancel_btn.cancel_reply
			Cancel
		
:javascript
	$(".form_content").height(30);//init
	$(".form_content").css("lineHeight","20px");//init
	
	$(".form_content").on("input",function(evt){
					console.log("comment");
			if(evt.target.scrollHeight > evt.target.offsetHeight){
					$(evt.target).height(evt.target.scrollHeight);
			}else{
					var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
					while (true){
							$(evt.target).height($(evt.target).height() - lineHeight);
							if(evt.target.scrollHeight > evt.target.offsetHeight){
									$(evt.target).height(evt.target.scrollHeight);
							}
							break;
					}
			}
	});
		
	$('.cancel_btn.cancel_btn').click(function(){
		$(this).parents(".reply_form").html("");
	});
		