.post{class: "post post_#{post_draft.id} post_draft admin_draft"}
	.body
		.main
			.content
				-if post_draft.article == nil
					%p.deleted_article	
						This article has been deleted.
				-else
					%h2.published_time
						PUBLISHED TIME:  #{post_draft.article.published_time}
					=link_to "read this article", post_draft.article.url, target: "_blank", style: "color: cornflowerblue;"
					=link_to article_path(post_draft.article_id), class: "post_article", target: "_blank" do
						-if post_draft.article.image
							.image{ style: "background-image: url(#{article_image_helper post_draft.article.image.url });"}
						.article_info
							%h2.bold
								= post_draft.article.title
								
							%p.xs.grey
								= post_draft.article.source
				=render "post_drafts/admin_edit", post_draft: post_draft

:javascript
	// post side menu open close

	$(".draft_menu .delete_draft_btn").click(function(){
	   $(this).parents(".post").find(".option_modal").fadeIn();
	   $(this).parents(".post").find(".delete").show();
	});

	$(".draft_menu .cancel_delete_btn").click(function(){
	   $(this).parents(".post").find(".option_modal").hide();
	   $(this).parents(".post").find(".delete").hide();
	});
	
	
	
	$(".draft_menu .edit_draft_btn").click(function(){
	   $(this).parents(".post").find(".edit_draft_form").fadeIn();
	   $(this).parents(".post").find(".opinion").hide();
	   $(".draft_menu").hide();
	});	