.post{class: "post post_#{post.id} post_draft admin_draft"}
	.body
		.main
			.content.clearfix
				-if post.article == nil
					%p.deleted_article	
						This article has been deleted.
				-else
					%h2.published_time
						PUBLISHED TIME:  #{post.article.published_time}
					=link_to article_path(post.article_id), class: "post_article" do
						-if post.article.image
							.image{ style: "background-image: url(#{article_image_helper post.article.image.url });"}
						.article_info
							%h2.bold
								= post.article.title
								
							%p.xs.grey
								= post.article.source
				=render "post_drafts/admin_edit", post: post

:javascript
	// post side menu open close

	$(".draft_menu .delete_draft_btn").click(function(){
	   $(this).parents(".post").find(".option_modal").fadeIn();
	   $(this).parents(".post").find(".delete").show();
	});

	$(".draft_menu .cancel_delete_btn").click(function(){
	   $(this).parents(".post").find(".option_modal").hide();
	   $(this).parents(".post").find(".delete").hide();
	});
	
	
	
	$(".draft_menu .edit_draft_btn").click(function(){
	   $(this).parents(".post").find(".edit_draft_form").fadeIn();
	   $(this).parents(".post").find(".opinion").hide();
	   $(".draft_menu").hide();
	});	