-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.post_drafts
	.sub_function_main_section
		#main_contents
			.auto_post_btn_group.all
				.title.main_title
					AUTO POST STATION: USA
				.btns

			.auto_post_btn_group.business
				.title
					Business  (#{articles_count_by_category("Business", @country.id)})
				.btns	
					=link_to "Business", usa_auto_post_by_category_path("Business"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "huffpost_business_usa"
					=render 'admins/auto_post_btn_usa', site_name: "nypost_business_usa"


			.auto_post_btn_group.society
				.title
					Society  (#{articles_count_by_category("Society", @country.id)})
				.btns	
					=link_to "Society", usa_auto_post_by_category_path("Society"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "huffpost_society_usa"


					
			.auto_post_btn_group.international
				.title
					International  (#{articles_count_by_category("International", @country.id)})
				.btns	
					=link_to "International", usa_auto_post_by_category_path("International"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "huffpost_international_usa"



			.auto_post_btn_group.startup
				.title
					Startup  (#{articles_count_by_category("Startup", @country.id)})
				.btns	
					=link_to "Startup", usa_auto_post_by_category_path("Startup"), class: "schneider_btn for_category", method: :post



			.auto_post_btn_group.tech
				.title
					Tech  (#{articles_count_by_category("Tech", @country.id)})
				.btns
					=link_to "Tech", usa_auto_post_by_category_path("Tech"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "nypost_tech_usa"

							
			.auto_post_btn_group.funny
				.title
					Funny  (#{articles_count_by_category("Funny", @country.id)})
				.btns	
					=link_to "Funny", usa_auto_post_by_category_path("Funny"), class: "schneider_btn for_category", method: :post



			.auto_post_btn_group.entertainment
				.title
					Entertainment  (#{articles_count_by_category("Entertainment", @country.id)})
				.btns	
					=link_to "Entertainment", usa_auto_post_by_category_path("Entertainment"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "huffpost_entertainment_usa"


			
			.auto_post_btn_group.movie
				.title
					Music&Movies  (#{articles_count_by_category("Movies・Music", @country.id)})
				.btns
					=link_to "Music", usa_auto_post_by_category_path("Music"), class: "schneider_btn for_category", method: :post


			.auto_post_btn_group.health
				.title
					Health  (#{articles_count_by_category("Health", @country.id)})
				.btns	
					=link_to "Health", usa_auto_post_by_category_path("Health"), class: "schneider_btn for_category", method: :post



			.auto_post_btn_group.relationships
				.title
					Relationships  (#{articles_count_by_category("Relationships", @country.id)})
				.btns
					=link_to "Relationships", usa_auto_post_by_category_path("Relationships"), class: "schneider_btn for_category", method: :post

			.auto_post_btn_group.food
				.title
					Food  (#{articles_count_by_category("Food", @country.id)})
				.btns	
					=link_to "Food", usa_auto_post_by_category_path("Food"), class: "schneider_btn for_category", method: :post


		
			.auto_post_btn_group.web
				.title
					Web  (#{articles_count_by_category("Web", @country.id)})
				.btns


			.auto_post_btn_group.sports
				.title
					Sports  (#{articles_count_by_category("Sports", @country.id)})
				.btns	
					=link_to "Sports", usa_auto_post_by_category_path("Sports"), class: "schneider_btn for_category", method: :post
					=render 'admins/auto_post_btn_usa', site_name: "nypost_sports_usa"


