-content_for(:sidebar) do
	"Don't show"

.sub_function_wrapper.post_drafts
	.sub_function_main_section
		.sub_function_nav
			%h2
				AUTO POST STATION
		#main_contents
			.auto_post_btn_group
				.title
					Business  (#{articles_count_by_category("Business", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "jcast_business", path: jcast_business_path
					=render 'admins/auto_post_btn', site_name: "forbes_business", path: forbes_business_path


			.auto_post_btn_group
				.title
					Society  (#{articles_count_by_category("Society", @country.id)})
				.btns				
					=render 'admins/auto_post_btn', site_name: "asahi_society", path: asahi_society_path
					=render 'admins/auto_post_btn', site_name: "excite_news_society", path: excite_news_society_path
					=render 'admins/auto_post_btn', site_name: "jcast_society", path: jcast_society_path
					

			.auto_post_btn_group
				.title
					International  (#{articles_count_by_category("International", @country.id)})
				.btns															
			
			
			.auto_post_btn_group
				.title
					Startup  (#{articles_count_by_category("Startup", @country.id)})
				.btns			
					=render 'admins/auto_post_btn', site_name: "forbes_startup", path: forbes_startup_path
					=render 'admins/auto_post_btn', site_name: "bridge_startup", path: bridge_startup_path
					=render 'admins/auto_post_btn', site_name: "techcrunch_startup", path: techcrunch_startup_path

			.auto_post_btn_group
				.title
					Tech  (#{articles_count_by_category("Tech", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "itmedia_tech", path: itmedia_tech_path
					=render 'admins/auto_post_btn', site_name: "techcrunch_tech1", path: techcrunch_tech1_path
					=render 'admins/auto_post_btn', site_name: "techcrunch_tech2", path: techcrunch_tech2_path
					=render 'admins/auto_post_btn', site_name: "jcast_tech", path: jcast_tech_path
							
			.auto_post_btn_group
				.title
					Funny  (#{articles_count_by_category("Funny", @country.id)})
				.btns		
					=render 'admins/auto_post_btn', site_name: "rocket_news_funny", path: rocket_news_funny_path
					=render 'admins/auto_post_btn', site_name: "buzzfeed_funny", path: buzzfeed_funny_path

			.auto_post_btn_group
				.title
					Entertainment  (#{articles_count_by_category("Entertainment", @country.id)})
				.btns		
					=render 'admins/auto_post_btn', site_name: "yahoo_entertainment", path: yahoo_entertainment_path
					=render 'admins/auto_post_btn', site_name: "netarika_entertainment", path: netarika_entertainment_path
					=render 'admins/auto_post_btn', site_name: "gunosy_entertainment", path: gunosy_entertainment_path
			
			.auto_post_btn_group
				.title
					Music&Movies  (#{articles_count_by_category("Movies・Music", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "netarika_music", path: netarika_music_path
					=render 'admins/auto_post_btn', site_name: "gunosy_music", path: gunosy_music_path
					=render 'admins/auto_post_btn', site_name: "gunosy_movie", path: gunosy_movie_path
								
								
			.auto_post_btn_group
				.title
					Health  (#{articles_count_by_category("Health", @country.id)})
				.btns			
					=render 'admins/auto_post_btn', site_name: "netarika_health", path: netarika_health_path
					=render 'admins/auto_post_btn', site_name: "jcast_health", path: jcast_health_path

								
			.auto_post_btn_group
				.title
					Relationships  (#{articles_count_by_category("Relationships", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "tabilabo_relationships", path: tabilabo_relationships_path
					=render 'admins/auto_post_btn', site_name: "honnest_relationships", path: honnest_relationships_path
					=render 'admins/auto_post_btn', site_name: "howcollect_relationships", path: howcollect_relationships_path

								
			.auto_post_btn_group
				.title
					Food  (#{articles_count_by_category("Food", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "netarika_food", path: netarika_food_path
					=render 'admins/auto_post_btn', site_name: "gunosy_food_path", path: gunosy_food_path
		
			.auto_post_btn_group
				.title
					Web  (#{articles_count_by_category("Web", @country.id)})
				.btns	

								
			.auto_post_btn_group
				.title
					Sports  (#{articles_count_by_category("Sports", @country.id)})
				.btns	
					=render 'admins/auto_post_btn', site_name: "excite_news_sports", path: excite_news_sports_path
					=render 'admins/auto_post_btn', site_name: "excite_news_sports2", path: excite_news_sports2_path


:javascript
	$('.scroll_btn.load_admin_drafts').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_admin_drafts_path}",
				type: "GET",
				data: {existing_admin_drafts: $('#main_contents').find('.admin_draft').length },
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})