.comment.clearfix{class: "comment_#{comment.id}"}
	.main.clearfix
		=image_tag comment.user.image.url, class: "profile_xs pull-left img-circle"
		.body
			.user_info
				.user_name
					=link_to comment.user do
						%span.user_name.light_navy.bold
							=comment.user.name
					%span.user_shoulder_name.sm.grey
						=comment.user.shoulder_name
				.option
					%i.fa.fa-ellipsis-h
			
			.content
				=truncate(comment.content, length: 200) do
					%span.light_navy.read_more{class: "comment_read_more_#{comment.id}"}
						Raed more
			.status.clearfix
				.comment_like_link.grey
					=render '/likes/like_comment', comment: comment
				=link_to "REPLY", "/replies/#{comment.id}/new", remote: true, class: "reply_link"
				.reply_count.grey	
					・
					%span.replies_count
						=comment.replies_count
				-unless comment.replies.count == 0
					.reply_view_link.pull-right
						=link_to "/replies/#{comment.id}/view_more", remote: true do
							%i.fa.fa-angle-down
							View all #{comment.replies.count} replies
							
			
			.reply_form.clearfix
			
			.replies
			
:javascript 
	$(".comment_read_more_#{comment.id}").click(function(){
		$(this).parent('.content').html('#{ simple_format(comment.content)}')
	});