#comment_form
  = form_with(model: @comment, data: { remote: true }) do |form|
    - if @comment.errors.any?
      #error_explanation
        %h2
          = pluralize(@comment.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - @comment.errors.full_messages.each do |message|
            %li= message
            
    .field.form-group.form_textarea.edit
      =image_tag current_user.image.profile_sm.url, class: "pull-left"
      = form.text_area :content, placeholder: "content", class: "form-control form_content", style: "border: none; box-shadow: none; resize: none;"
  
    .comment_submit
      = form.submit "Comment", class: "submit_btn pull-right"
    
