
= form_with(model: comment, data: { remote: true }) do |form|
  - if comment.errors.any?
    #error_explanation
      %h2
        = pluralize(comment.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - comment.errors.full_messages.each do |message|
          %li= message
          
  .field.form-group.form_textarea.comment_textarea
    =image_tag current_user.image.profile_sm.url, class: "profile_xs pull-left hidden-xs"
    = form.text_area :content, placeholder: "content", class: "form-control form_content", style: "border: none; box-shadow: none; resize: none;"
    = form.hidden_field :post_id, value: post.id
    = form.hidden_field :user_id, value: current_user.id
  .comment_submit
    = form.submit "Comment", class: "submit_btn"
   
:javascript

  $(".form_content").height(30);//init
  $(".form_content").css("lineHeight","20px");//init
  
  $(".form_content").on("input",function(evt){
            if(evt.target.scrollHeight > evt.target.offsetHeight){
                $(evt.target).height(evt.target.scrollHeight);
            }else{
                var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                while (true){
                    $(evt.target).height($(evt.target).height() - lineHeight);
                    if(evt.target.scrollHeight > evt.target.offsetHeight){
                        $(evt.target).height(evt.target.scrollHeight);
                    }
                    break;
                }
            }
        });
