
-if current_user
  = form_tag comments_path remote: true do
    .field.form-group.form_textarea.comment_textarea
      = image_tag current_user.image.profile_sm.url, class: "profile_xs pull-left img-circle"
      = text_area_tag 'comment[content]', "", placeholder: "comment", class: "form-control form_content", style: "border: none; box-shadow: none; resize: none;"
      = hidden_field_tag 'comment[post_id]', value: post.id
      = hidden_field_tag 'comment[user_id]', value: current_user.id
    .comment_submit
      = submit_tag "Comment", class: "submit_btn btn"
      .cancel_btn
        Cancel
      
   
:javascript

  $(".form_content").height(30);//init
  $(".form_content").css("lineHeight","20px");//init
  
  $(".form_content").on("input",function(evt){
            if(evt.target.scrollHeight > evt.target.offsetHeight){
                $(evt.target).height(evt.target.scrollHeight);
            }else{
                var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                while (true){
                    $(evt.target).height($(evt.target).height() - lineHeight);
                    if(evt.target.scrollHeight > evt.target.offsetHeight){
                        $(evt.target).height(evt.target.scrollHeight);
                    }
                    break;
                }
            }
        });
        
  // $('.comment_form textarea')
  // .focusin(function(e) {
  //   $(this).parents('.comment_form').find('.comment_submit').fadeIn();
  // })
  $('.cancel_btn').click(function(){
    $(this).parents('.comment_form').hide();
  });
  
