
.sub_function_wrapper.search
	.sub_function_main_section
		.sub_function_nav
			%h2
				"#{@keyword}"
			
			.nav_options	
				=link_to "ARTICLES", "/search/#{@keyword}/articles", class: "search_articles active"
				=link_to "POSTS", "/search/#{@keyword}/posts", class: "search_posts"
				=link_to "USERS", "/search/#{@keyword}/users", class: "search_users" 
				=link_to "TAGS", "/search/#{@keyword}/tags", class: "search_tags"
	
		#main_contents
			-if @articles_search_results.empty?
				=render 'shared/result_not_found', keyword: @keyword
			-else
				=render partial: "articles/article", collection: @articles_search_results, as: :article
	
	.sub_function_sidebar
		%h2
			NEW USERS
		.new_users_section
			-unless @new_users.empty?
				= render partial: "users/card", collection: @new_users, as: :user
		

