
#search_nav.text-center
  =link_to "/search/#{@key_word}/articles", class: "search_btn search_articles" do
    articles
  =link_to "/search/#{@key_word}/posts", class: "search_btn search_posts active" do
    posts
  =link_to "/search/#{@key_word}/users", class: "search_btn search_users"  do
    users
  =link_to "/search/#{@key_word}/tags", class: "search_btn search_tags"  do
    tags
  
#main_contents
  -if @posts_search_results.empty?
    =render 'shared/result_not_found', key_word: @key_word
  -else
    = render partial: "posts/post", collection: @posts_search_results, as: :post

