-content_for(:sidebar) do
	"Do not show"

#index_nav.text-center.search_nav
	=link_to "/search/#{@key_word}/articles", class: "search_articles" do
		.index_btn
			articles
	=link_to "/search/#{@key_word}/posts", class: "search_posts" do
		.index_btn.active
			posts
	=link_to "/search/#{@key_word}/users", class: "search_users"  do
		.index_btn
			users
	=link_to "/search/#{@key_word}/tags", class: "search_tags"  do
		.index_btn
			tags
	
#main_contents
	-if @posts_search_results.empty?
		=render 'shared/result_not_found', key_word: @key_word
	-else
		= render partial: "posts/post", collection: @posts_search_results, as: :post

