
=link_to article_path(article.id), class: "article article_#{article.id} clearfix" do
	.article_block
		.image{style: "background-image: url(#{article.image.url});"}
			.stats
				%p.counts
					#{article.posts_count}
					%br
					%span.unit
						posts
	
		.info
			.title
				%h2.bodld.lg
					= universal_truncate(article.title)
				%p.sm.grey
					= article.source
					- if article.published_time
						%i.fa.fa-clock-o
						#{time_ago_in_words_short(article.published_time)}
						
	.best_post
		-post = article.posts.last
		
		- if post != nil
			.body.clearfix
				.user_block.clearfix
					=image_tag post.user.image.url, class:"img-circle user_image"
					.user_details
						%p
							%span
								=post.user.name
								\/
							%span.user_shoulder_name
								=post.user.shoulder_name
						%p.content
							= truncate(post.content, length: 60) do
								%span ...

					
