
.article{class: "article_#{article.id}"}
	=link_to article.url, class: "direct_article_link", target: "_blank" do
		=render 'svg/window_icon'
	
	-if current_user && current_user.admin == true
		.priority_btn_group
			=link_to increase_priority_admin_path(article.id), class: "decrease_priority_btn priority_btn", method: :post, remote: true do
				%i.fa.fa-angle-up
			.priority_level_counter
				=article.priority_level
			=link_to decrease_priority_admin_path(article.id), class: "decrease_priority_btn priority_btn", method: :post, remote: true do
				%i.fa.fa-angle-down
		.change_category_menu
			.article_admin_menu
				= form_tag change_category_admin_path(article.id), remote: true do
					= select_tag "article[category_id]", options_from_collection_for_select(Category.all, :id, :translated_name), prompt: t('form.post.selectbox_placeholder'), class: "form-control selectpicker"
					= submit_tag "CHANGE CATEGORY"	
							

	=link_to article do
		.article_wrapper
			.article_block
				.image{style: "background-image: url(#{article_image_helper article.image.url});"}
					%span.posts_count
						#{article.posts_count}
	
					-if current_user && current_user.admin == true
						%span.e_counter
							#{article.e_indecator}
	
			
				.info
					.title
						%h2.give_me_long_ellipsis
							= article.title
							- if article.title.empty?
								[ This article has been deleted ]
						%p.sm.grey
							- if article.published_time
								#{time_in_newsb_locale_short(@country.name, article.published_time)}
							= universal_truncate_with_omission(article.source, 50, "")

				
			-if article.posts_count != 0
				-post = article.posts.order(likes_count: :desc).first
				- if post != nil && post.content.empty? != true
					.best_post
						.user_details
							.user_image_xs
								=user_image_helper(post.user)
							%p
								%span.user_name
									=post.user.name
								%span.user_credential
									=post.user.credential
						%p.content.give_me_long_ellipsis
							-if post.content.empty?
								%span.shared_message
									> Shared this article
							-else
								=post.content
									
			
								
