
=link_to article_path(article.id), class: "article best_article article_#{article.id} clearfix" do
	.article_block
		.image{style: "background-image: url(#{article.image.url});"}
			.stats
				%span
					#{article.posts_count} posts
				#{article.category.name}
	
		.info
			.title
				%h2.bodld.lg
					= truncate(article.title, length: 60) do
						%span ...
				%p.sm.grey
					= article.source
					- if article.published_time
						#{time_ago_in_words(article.published_time)} ago
						
	.best_post
		-post = article.posts.last
		
		- if post != nil
			.body.clearfix
				.user_block.clearfix
					=image_tag post.user.image.url, class:"pull-left img-circle user_image"
					.user_details
						%p
							%span
								=post.user.name
								\/
							%span.user_shoulder_name
								=post.user.shoulder_name
						%p.content
							= truncate(post.content, length: 60) do
								%span ...

					
