
%div{ class: "article_#{article.id}", id: "featured_article"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container	
				.featured_article_content
					%h2.featured_article_title
						=link_to universal_truncate(article.title, 100), article_path(article)
					=link_to article do
						.featured_article_info
							-report_count = article.posts.where(fake_news_report: true).count
							%p.featured_post_posts_count
								=render 'svg/speech_bubble_icon'
								%span.post_number
									#{article.posts_count} posts
								-if report_count != 0
									%sapn.report_number
										#{report_count} fake news reports 
										
							%p.featured_article_source
								= article.source
								- if article.published_time
									%i.fa.fa-clock-o
									#{time_ago_in_words_short(article.published_time)}	
						
					-unless best_post.nil?
						=link_to article do
							.best_post
								.user_info
									.user_image_sm
										=user_image_helper(best_post.user)
									#{best_post.user.name} / #{best_post.user.credential}
								%p.best_post_content
									-if best_post.content.empty?
										> Shared this article
									-else
										= universal_truncate(best_post.content, 200)
										
					=link_to "SEE MORE", article, class: "show_article_link"
											
											
						
					

										

									

					
