-if article
	- best_post = article.posts.order(likes_count: :desc).first
	=link_to article_path(article.id), class: "article_#{article.id}", id: "featured_article" do
		.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
			.overlay
				.article_container	
					.featured_article_content
						%h2.featured_article_title
							= universal_truncate(article.title, 100)
							%br
							%span.featured_article_source
								= article.source
								- if article.published_time
									%i.fa.fa-clock-o
									#{time_ago_in_words_short(article.published_time)}	
							
						-if article.posts_count != 0
							.featured_article_bottom
								.stats
									%p.counts
										#{article.posts_count}
										%span.unit
											posts
								
									.posts_count.for_featured_article
										-popular_users = User.where(id: article.posts.order(likes_count: :desc).where.not(user_id: best_post.user_id).limit(5).uniq.pluck(:user_id))
										.popular_user_faces.user_faces
											-popular_users.each do |user|
												=user_image_helper(user)
												
									.mobile_posts_count.for_featured_article
										-popular_users = User.where(id: article.posts.order(likes_count: :desc).limit(5).uniq.pluck(:user_id))
										.popular_user_faces.user_faces
											-popular_users.each do |user|
												=user_image_helper(user) 
					
					.best_post				
						-if article.posts_count != 0						
							- unless best_post.nil?
								.body.best_post_first.clearfix
									.user_block.user_image
										=user_image_helper(best_post.user)
										.user_details
											%p
												%span
													= best_post.user.name
												%br
												%span.user_shoulder_name
													= best_post.user.shoulder_name
									%p.best_post_content
										-if best_post.content.empty?
											%span.shared_message
												> Shared this article
										-else
											%span.comment_large
												= universal_truncate(best_post.content, 450)
											%span.comment_small
												= universal_truncate(best_post.content, 300)
												

										
	
						
