
%div{ class: "article_#{article.id}", id: "featured_article"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container	
				-if current_user && current_user.admin == true
					.priority_btn_group
						=link_to increase_priority_admin_path(article.id), class: "decrease_priority_btn priority_btn", method: :post, remote: true do
							%i.fa.fa-angle-up
						.priority_level_counter
							=article.priority_level
						=link_to decrease_priority_admin_path(article.id), class: "decrease_priority_btn priority_btn", method: :post, remote: true do
							%i.fa.fa-angle-down
				.featured_article_content
					%h2.featured_article_title
						=link_to universal_truncate(article.title.html_safe, 150), article_path(article)
					=link_to article, class: "featured_article_info" do
				
						%span.featured_post_posts_count
							=render 'svg/speech_bubble_icon'
							%span.post_number
								#{article.posts_count}
								
						-if article.published_time
							%span.time
								#{time_in_newsb_locale_short(@country.name, article.published_time)}	
								
						%span.featured_article_source
							=article.source
							
						%span.featured_article_source.for_mobile
							=universal_truncate(article.source, 40)


						
					-unless best_post.nil?
						=link_to article do
							.best_post
								.user_info
									.user_image_xs
										=user_image_helper(best_post.user)
									#{best_post.user.name}
									-unless best_post.user.credential.nil? || best_post.user.credential.empty?
										\/ #{best_post.user.credential}
								%p.best_post_content
									-if best_post.content.empty?
										=t('article.shared')
									-else
										= universal_truncate(best_post.content, 300)
										
					
				.featured_article_image_block
					=link_to article, class: "article_image_link" do
						.article_image{style: "background-image: url(#{article_image_helper article.image.url});"}
							%span
								=t('action_cap.more')
				

											
						
					

										

									

					
