
%div{ class: "article_#{article.id}", id: "featured_article"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container	
				.featured_article_content
					%h2.featured_article_title
						=link_to universal_truncate(article.title, 100), article_path(article)
						%br
						%span.featured_article_source
							= article.source
							- if article.published_time
								%i.fa.fa-clock-o
								#{time_ago_in_words_short(article.published_time)}	
				
					-report_count = article.posts.where(fake_news_report: true).count
					-if report_count != 0
						%span.fake_news_report_count
							[ #{report_count} fake news reports ]	
							
					.featured_article_bottom
						-if article.posts_count != 0
							.stats
								%p.counts
									#{article.posts_count}
									%span.unit
										posts
							.featured_article_options
								=link_to "READ COMMENTS | CREATE POST"
									
											
				.best_posts				
					-unless best_posts.empty?
						%h2.best_post_title
							TOP COMMENTS
						- best_posts.each do |post|
							.body
								.user_block
									.user_image_sm
										=user_image_helper(post.user)
									.user_details
										%p
											%span
												= post.user.name
											%br
											%span.user_credential
												= post.user.credential
								%p.best_post_content
									-if post.content.empty?
										%span.shared_message
											> Shared this article
									-else
										%span.comment_large
											= post.content
											
					-unless related_articles.empty?
						.related_articles
							%h2.best_post_title
								RELATED ARTICLES
							%ul.related_article_section 
								- related_articles.each do |article|
									%li
										%h4
											=link_to article.title, article_path(article)
										%p
											=article.source
										
							
						

											

									

					
