
=link_to article_path(article.id), class: "article article_#{article.id} clearfix" do
	.article_block
		.info
			.title
				%h2.bold.lg
					= truncate(article.title, length: 60) do
						%span ...
				%p.sm.grey
					= article.source
					- if article.published_time
						#{time_ago_in_words(article.published_time)} ago
			.stats
				%span
					#{article.posts_count} posts
				#{article.category.name}
				
		.image{style: "background-image: url(#{article.image.url});"}

					
	.best_post
		-post = article.posts.last
		
		- if post != nil
			.body.clearfix
				.user_block.clearfix
					=image_tag post.user.image.url, class:"pull-left img-circle user_image"
					.user_details
						%p
							%span
								=post.user.name
								\/
							%span.user_credential
								=post.user.credential
						%p.content
							= truncate(post.content, length: 60) do
								%span ...


				