-unless @fake_news_reports.empty?
	.fake_news_reports
		.title
			%h3
				FAKE NEWS REPORTS
		= render partial: "posts/post_wo_article", collection: @fake_news_reports.includes(:user), as: :post

-if @your_posts.empty?
	.your_posts
		%h3
-else
	.your_posts
		%h3
			YOUR POSTS
		= render partial: "posts/post_wo_article", collection: @your_posts.includes(:user), as: :post
		
-if current_user
	-unless @best_posts.where.not(id: @your_posts.ids).empty?
		.best_posts
			%h3
				%i.fa.fa-line-chart.fa-fw
				BEST POSTS
			= render partial: "posts/post_wo_article", collection: @best_posts.where.not(id: @your_posts.ids).includes(:user), as: :post
-else
	-unless @best_posts.empty?
		.best_posts
			%h3
				%i.fa.fa-line-chart.fa-fw
				BEST POSTS
			= render partial: "posts/post_wo_article", collection: @best_posts.includes(:user), as: :post
		
-unless @follower_posts.empty?
	.follower_posts
		%h3
			%i.fa.fa-star-o .fa-fw
			FOLLOWERS POSTS
		= render partial: "posts/post_wo_article", collection: @follower_posts.includes(:user), as: :post
		
-unless @new_posts.empty?
	.new_posts
		%h3
			%i.fa.fa-comment-o.fa-fw
			NEW POSTS
		= render partial: "posts/post_wo_article", collection: @new_posts.includes(:user), as: :post
		
-unless @shared_posts.empty?
	.shared_posts
		%h3
			%i.fa.fa-share-alt.fa-fw
			SHARING
		= render partial: "posts/post_wo_article", collection: @shared_posts.includes(:user), as: :post

