


-unless @your_posts.empty?
	.your_posts.posts_section
		%h3
			=t('article_index.title.your_posts')
		= render partial: "posts/post_wo_article", collection: @your_posts.includes(:user), as: :post
		
-if current_user
	-unless @best_posts.where.not(id: @your_posts.ids).empty?
		.best_posts.posts_section
			%h3
				=t('article_index.title.best_posts')
			= render partial: "posts/post_wo_article", collection: @best_posts.where.not(id: @your_posts.ids).includes(:user), as: :post
-else
	-unless @best_posts.empty?
		.best_posts.posts_section
			%h3
				=t('article_index.title.best_posts')
			= render partial: "posts/post_wo_article", collection: @best_posts.includes(:user), as: :post


	
		
-unless @follower_posts.empty?
	.follower_posts.posts_section
		%h3
			=t('article_index.title.followers_posts')
		= render partial: "posts/post_wo_article", collection: @follower_posts.includes(:user), as: :post
		
-unless @new_posts.empty? && @shared_posts.empty?
	.new_posts.posts_section
		%h3
			=t('article_index.title.new_posts')
		-unless @shared_posts.empty?
			.shared_posts_section
				.show_shared_posts_link
					%i.fa.fa-share-alt.shared_icon
					%p
						=t('article_index.title.shared_posts')
						\:
						= @shared_posts.count
					%i.fa.fa-angle-down.shared_icon
				.shared_posts
					= render partial: "posts/post_wo_article", collection: @shared_posts.includes(:user), as: :post
		= render partial: "posts/post_wo_article", collection: @new_posts.includes(:user), as: :post
		-if @new_posts.count < 30
			.scroll_btn.stop_loading
				=t('scroll.no_more')
		-else
			.scroll_btn.article_posts
				=t('scroll.load')		


