%div{ class: "article_#{article.id}", id: "selected_article", data: {article_id: "#{article.id}"}}
	.article_image_for_mobile{style: "background-image: url(#{article_image_helper article.image.url});"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container
				.image{style: "background-image: url(#{article_image_helper article.image.url});"}
				.article_title
					-if article.title.empty? 
						=t('deleted_article')
					-else
						=article.title.html_safe
					%br	
					%span.article_source
						= article.source
					.selected_article_info	
						%span.selected_post_posts_count
							=render 'svg/speech_bubble_icon'
							%span.post_number
								#{article.posts_count}
						
						- if article.published_time
							%span.time
								#{time_in_newsb_locale(@country.name, article.published_time)}

				-if current_user && current_user.admin == true
					.article_admin_menu
						= form_tag change_category_admin_path(article.id) do
							= select_tag "article[category_id]", options_from_collection_for_select(Category.all, :id, :translated_name), prompt: t('form.post.selectbox_placeholder'), class: "form-control selectpicker"
							= submit_tag "CHANGE CATEGORY"	
							
				.article_menu
					=link_to article.url, class: "read_article_btn article_item", target: "_blank" do
						=render 'svg/article_menu/read'
						%span
							=t('article.read_btn')
					-if current_user
						.article_item.show_article_post_modal_btn
							=render 'svg/article_menu/comment'
							%span
								=t('article.comment')
					-else
						.article_item.login_signup_link
							=render 'svg/article_menu/comment'
							%span
								=t('article.comment')

						

	



