
%div{class: "article article_#{article.id} clearfix", id: "selected_article"}
	.article_wrapper
		.article_block
			.image{style: "background-image: url(#{article_image_helper article.image.url});"}
				.stats
					%p.counts
						#{article.posts_count}
						%br
						%span.unit
							posts
					
	
			=link_to @article.url, target: "_blank" do 
				.info
					.title
						%h2.bold.lg
							= truncate(article.title, length: 60) do
								%span ...
						%p.sm.grey
							= article.source
							- if article.published_time
								%i.fa.fa-clock-o
								#{time_ago_in_words_short(article.published_time)}
					=link_to "READ MORE", @article.url, target: "_blank", class: "read_article_btn" 
		=render "posts/form_no_category", article: @article

