%div{ class: "article_#{article.id}", id: "selected_article"}
	.article_image_for_mobile{style: "background-image: url(#{article_image_helper article.image.url});"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container
				.image{style: "background-image: url(#{article_image_helper article.image.url});"}
				.article_title
					-if article.title.empty? 
						This article has been deleted.
					-else
						=article.title
						%br
						%span.selected_article_info
							%span.selected_post_posts_count
								=render 'svg/speech_bubble_icon'
								%span.post_number
									#{article.posts_count}
							= article.source
							- if article.published_time
								%span.time
									#{time_ago_in_words_short(article.published_time)}

				.article_menu
					=link_to "READ MORE", article.url, class: "read_article_btn article_item", target: "_blank"
					-if current_user
						.article_item.show_article_post_modal_btn
							COMMENT
					-else
						.article_item.login_signup_link
							COMMENT
						
.article_post_modal_wrapper.modal_wrapper
	.modal_container
		=render 'modals/article_post_form'
	
.article_post_edit_form.modal_wrapper
	.modal_container
		=render 'modals/article_post_edit_form'


