%div{ class: "article_#{article.id}", id: "selected_article"}
	.article_image_for_mobile{style: "background-image: url(#{article_image_helper article.image.url});"}
	.article_wrapper.image{style: "background-image: url(#{article_image_helper article.image.url});"}
		.overlay
			.article_container
				.article_title
					-if article.title.empty? 
						This article has been deleted.
					-else
						=article.title
						%br
						%span.selected_article_info
							= article.source
							- if article.published_time
								%i.fa.fa-clock-o
								#{time_ago_in_words_short(article.published_time)}
				=link_to "READ MORE", article.url, class: "read_article_btn", target: "_blank"

