
=link_to article_path(article.id), class: "article side_article article_#{article.id} clearfix" do
	.article_block
		.info
			.mini_image{style: "background-image: url(#{article.image.url});"}
			.title
				%h2
					= universal_truncate(article.title, 60)
				%p.sm.grey
					= article.source
					- if article.published_time
						%i.fa.fa-clock-o
						#{time_ago_in_words_short(article.published_time)}
				
				.mobile_posts_count
					-popular_users = User.where(id: article.posts.order(likes_count: :desc).limit(5).uniq.pluck(:user_id))
					.popular_user_faces
						-popular_users.each do |user|
							=image_tag user.image.url, class:"img-circle user_face" 
					%span
						#{article.posts_count} posts
					
