
=link_to article_path(article.id), class: "side_article article_#{article.id} clearfix" do
	.article_block
		.info
			.title
				%h4
					= universal_truncate(article.title.html_safe, 60)
				%p.sm.grey
					- if article.published_time
						#{time_ago_in_words(article.published_time)}・
					= article.source

				
				.mobile_posts_count
					-popular_users = User.where(id: article.posts.order(likes_count: :desc).limit(5).uniq.pluck(:user_id))
					.popular_user_faces.user_faces
						-popular_users.each do |user|
							=user_image_helper(user)
					%span
						#{article.posts_count} posts
					
