- set_meta_tags article_meta_tags(@article, @country.name)

-content_for(:selected_article) do
	"show the selected article"
	

.sub_function_wrapper.article_show
	.sub_function_main_section
		// =render "/articles/selected_article_mobile", article: @article

		.form_show.on_mobile
			%span.content
				=t 'form.post.title'
			%span.mobile_btn_icon
				+
		
		- report_count = @article.posts.where(fake_news_report: true).count

		#main_contents.article_posts
			=render '/articles/post_index', report_count: report_count



	.sub_function_sidebar
		%h2 
			=t ('sidebar.title.recommended_articles')
		.side_article_section
			-unless @side_articles.empty?
				= render partial: "articles/side_article", collection: @side_articles, as: :article
			
	- @best_posts.ids.each do |best_id|		
		:javascript
			$("#main_contents").find(".post_#{best_id}").find(".user_block .star").css("display","inline-block");

	

:javascript
	$('.show_fake_news_link').click(function(){
		if($(this).hasClass("open")){
			$(this).removeClass("open").find('.article_other_section_icon').html("<i class='fa fa-angle-down'></i>");
			$('.fake_news_reports').fadeOut();
		} else{
			$(this).addClass("open").find('.article_other_section_icon').html("×");
			$('.fake_news_reports').fadeIn();
		}
	})
	
	$('.show_shared_posts_link').click(function(){
		if($(this).hasClass("open")){
			$(this).removeClass("open").find('.article_other_section_icon').html("<i class='fa fa-angle-down'></i>");
			$('.shared_posts').fadeOut();
		} else{
			$(this).addClass("open").find('.article_other_section_icon').html("×");
			$('.shared_posts').fadeIn();
		}
	})
	
	$('.form_show.on_mobile').click(function(){
		if($(this).hasClass("open")){
			$(this).removeClass("open").find('span.content').text("#{t ('form.post.title')}");
			$(this).find('span.mobile_btn_icon').text("+");
			$('.post_form').slideUp();
		} else{
			$(this).addClass("open").find('span.content').text("#{t ('form.cancel')}");
			$(this).find('span.mobile_btn_icon').text("ー");
			$('.post_form').slideDown();
		}
	})
	

	$('.scroll_btn.article_posts').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_article_posts_path}",
				type: "GET",
				data: {existing_posts: $('.new_posts').find('.post').length,
						article_id: #{@article.id}},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})

	
	$(".post_form .cancel_btn").click(function(){
		$(this).parents(".post_form").hide();
		$(this).parents(".post").find("p.opinion").fadeIn();
	});
