= form_tag save_password_setting_user_path(@user), id: "user_setting_form" do
	.setting_block.current_password
		.title
			Current password
		.content
			= password_field_tag 'user[current_password]', '', autofocus: true, autocomplete: "off"

	.forgot_password_block
		=link_to "forgot password or password has not been set >>", new_user_password_path, target: "_blank", id: "reset_password_link_on_profile"

	.setting_block.new_password
		.title
			New password
			%br
			- if @minimum_password_length
				%em
					(#{ @minimum_password_length} characters minimum)
		.content
			= password_field_tag 'user[:new_password]', '', autocomplete: "off"

	.setting_block.password_confirmation
		.title
			Password confirmation
		.content
			= password_field_tag 'user[:confirmation_password]', '', autocomplete: "off"
			
	.submit_btn_group
		= submit_tag "SAVE", class: "form_btn btn", id: "setting_submit_btn"
