= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :name
    = f.text_field :shoulder_name
  .field
    = f.label :image
    = image_tag @user.image.profile_md.url if @user.image?
    = f.file_field :image
    = f.hidden_field :image_cache 
  .field
    = f.label :about
    = f.text_area :about
  .actions
    = f.submit 'Save'
