.user_profile_wrapper
	#user_profile.clearfix
		=image_tag @user.image.profile_md.url, class: "img-circle"
		%h2= @user.name 
		%p.grey= @user.credential
	  		
	#profile_nav
		.nav_wrapper
			=link_to @user, class: "profile_btn left active" do
				%h3.fa.fa-globe 
				%br
				top
			=link_to posts_user_path(@user.id), class: "profile_btn middle_left" do
				%h3= @user.posts.count
				posts
			=link_to followers_user_path(@user.id), class: "profile_btn middle_right" do
				%h3= @user.followers.count
				follower
			=link_to following_user_path(@user.id), class: "profile_btn right" do
				%h3= @user.following.count
				following
		