.user{class: "clearfix user_#{user.id}"}
	.user_image
		=user_image_helper(user)
	=link_to user, class: "info" do
		%p.name
			%span
				=user.name
			= user.shoulder_name
		%p.follower_stats 
			FOLLOWER: #{user.followers.count} 
			%span 
				FOLLOWING: #{user.following.count}
		%p= universal_truncate(user.about, 80)
		

	.follow_link
		=render "/shared/follow_form", user: user
