-content_for(:sidebar) do
	"Do not show"
-content_for(:header) do
	"Do not show"

-content_for(:footer) do
	"Do not show"

:css
	body{
		padding: 0;
		background-color: white;
	}

#extra_info_wrapper{style: "background-image: linear-gradient(90deg,rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/images/bkg_img.jpeg')"}
	#extra_info
		.profile_form_content
			=form_tag complete_profile_users_path, id: "welcome_setting_form" do
				
				.form_menu
					.form_title
						%h2.logo
							newsb!
							%br
							%span
								Welcome, #{current_user.name}.
					.submit_btn_group
						= submit_tag t('action_cap.save'), class: "form_btn btn setting_submit_btn", id: "welcome_setting_submit_btn"
						=link_to t('action_cap.skip'), root_path, class: "form_btn skip_btn"
							
						
				.setting_block.language{data: {original_language: "#{current_user.language_id}"}}
					.title
						=render 'svg/setting/language_icon'
						｜
						%span 
							=t('form.setting.language')
					.content
						=select_tag "user[language_code]", options_for_select([["English", "en"], ["日本語", "ja"]], @current_user.language.code), class: "content form-control country_selection"   
				
				.setting_block.location{data: {original_country: "#{current_user.country_id}"}}
					.title
						=render 'svg/setting/location_icon'
						｜
						%span 
							=t('form.setting.location')
					.content
						#{t('country.japan')}
						// =select_tag "user[country_name]", options_for_select([[t('country.japan'), "Japan"]], @current_user.country.name), class: "content form-control country_selection"    
			
				.setting_block.credential{data: {original_credential: "#{current_user.credential}"}}
					.title_block
						.title
							=render 'svg/setting/credential_icon'
							｜
							%span 
							=t('form.setting.credential')
						.error_message
							=t('form.setting.credential_error') 
							%span.letter_count
					=text_field_tag 'user[credential]', current_user.credential, placeholder: t('form.setting.credential_placeholder'), class: "content credential_form"
			
	
	

#extra_info.mobile
	.mobile_overlay{style: "background-image: linear-gradient(90deg,rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/images/bkg_img.jpeg')"}	
	.profile_form_content
		=form_tag complete_profile_users_path, id: "mobile_welcom_setting_form" do
			
			.form_menu
				.form_title
					%h2.logo
						newsb!
						%br
						%span
							Welcome. #{current_user.name}
			.setting_block.language{data: {original_language: "#{current_user.language_id}"}}
				.title
					=render 'svg/setting/language_icon'
					｜
					%span 				
						=t('form.setting.language')
				.content
					=select_tag "user[language_code]", options_for_select([["English", "en"], ["日本語", "ja"]], @current_user.language.code), class: "content form-control country_selection"   
			
			.setting_block.location{data: {original_country: "#{current_user.country_id}"}}
				.title
					=render 'svg/setting/location_icon'
					｜
					%span 
						=t('form.setting.location')
				.content
					#{t('country.japan')}
					// =select_tag "user[country_name]", options_for_select([[t('country.united_states'), "United States"], [t('country.japan'), "Japan"]], @current_user.country.name), class: "content form-control country_selection"     
			.setting_block.credential{data: {original_credential: "#{current_user.credential}"}}
				.title_block
					.title
						=render 'svg/setting/credential_icon'
						｜
						%span 
							=t('form.setting.credential')
					.error_message
						=t('form.setting.credential_error') 
						%span.letter_count
				=text_field_tag 'user[credential]', current_user.credential, placeholder: t('form.setting.credential_placeholder'), class: "content credential_form"
		
			.submit_btn_group.mobile
				= submit_tag t('action_cap.save'), class: "form_btn btn setting_submit_btn"
				=link_to t('action_cap.skip'), root_path, class: "form_btn skip_btn"	
	
	
