#side_nav.hidden-xs

#main_container
  #user_show_profile.clearfix
    %div{class: "profile user_#{@user.id}"}
      .image
        =image_tag @user.image.url, class: "user_image_lg"
      .like_status
        %h4 Like Stats
        %p
          Total: #{Like.where(target_user_id: @user.id).count}
          %br
          This week: #{Like.where(created_at: Date.today.beginning_of_week-1..Time.now ).where(target_user_id: @user.id).count}
      .follow_switch
        =render "shared/follow_form", user: @user
    .description
      %h2= @user.name 
      %p= @user.shoulder_name
      %br
      .about
        %h4
          %i.fa.fa-globe
          Introduction
        =@user.about

  #profile_nav
    .profile_btn
      %h3= @user.posts.count
      posts
    .profile_btn
      %h3= @user.followers.count
      follower
    .profile_btn
      %h3= @user.following.count
      following
      
  #user_main_contents
    
          
#sidebar.hidden-xs.hidden-sm
  = render 'sidebars/profile', new_users: @new_users
  
