
=form_tag "/posts/load_url_feed", method: :get, autocomplete: :off, remote: true do
	.form_row
		.load_url_btn
			%span.load_icon
				=render 'svg/load_icon'
			%span.loading_icon
				%i.fa.fa-spinner.fa-pulse.loading_mobile
			
		= url_field_tag :placeholder_url, "", placeholder: "https://example.com", class: "url_form"


:css 
	.post_url_form form input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
	
:javascript
	$('.post_url_form.on_modal input').keyup(function(e) {
		$('.post_form_block .error_message').hide();
		$.ajax({
			url: "#{load_url_modal_posts_path}",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		}).fail(function(jqXHR, textStatus, errorThrown) {
				$('.post_form_block .error_message').show();
				$('span.load_icon').show();
				$('span.loading_icon').hide();
			})
		$('.post_form_requirement').hide();
		$('span.loading_icon').show();
		$('span.load_icon').hide();
		// $('.post_form_block').show().html("#{escape_javascript render 'shared/loading'}");
		$('.post_form_block').addClass("loading");
		return false;
	});
	
	$('.load_url_btn').click(function(){
		$('.post_form_block .error_message').hide();
		$.ajax({
			url: "#{load_url_modal_posts_path}",
			type: "GET",
			data: {placeholder_url: $(this).val()},
			dataType: 'script',
		}).fail(function(jqXHR, textStatus, errorThrown) {
				$('.post_form_block .error_message').show();
				$('span.loading_icon').hide();
				$('span.load_icon').show();
			})
		$('.post_form_requirement').hide();
		$('span.loading_icon').show();
		$('span.load_icon').hide();
		$('.post_form_block').addClass("loading");
		return false;	
	});
	// $('.post_url_form.for_mobile input').keyup(function(e) {
	// 	$.ajax({
	// 		url: "#{load_url_mobile_posts_path}",
	// 		type: "GET",
	// 		data: {placeholder_url: $(this).val()},
	// 		dataType: 'script',
	// 	}).fail(function(jqXHR, textStatus, errorThrown) {
	// 			$('.post_form_block.for_mobile').html("<p class='parse_failure_message'>I'm sorry. This article cannot be uploaded.</p>");
	// 		})
	// 	$('.post_form_requirement').hide();
	// 	$('.post_form_block.for_mobile').show().html("<i class='fa fa-spinner fa-pulse'></i>");
	// 	$('.post_form_block.for_mobile').addClass("loading");
	// 	return false;
	// });
	
