#user_profile_wrapper
	.user_profile_container
		.user_info
			.user_image_xl
				=user_image_lg_helper(user)
			.user_name
				%h2
					=user.name
				%p
					=user.credential
					
				%p.liked_count
					%span
						Total : #{@user.liked_count} likes
		.user_description
			%p
				=user.about
			.user_profile_option{class: "user_#{user.id}"}
				-if current_user && current_user.id == user.id
					=link_to "EDIT SETTING", edit_setting_user_path(current_user.id), class: "edit_link"
					
				-elsif current_user
					.follow_link.on_user_profile
						=render "/shared/follow_form", user: user
				-else
					.follow_link.on_user_profile.login_signup_link 
						Follow
#profile_nav
	.nav_wrapper
		=link_to @user, class: "profile_btn left" do
			%h3= @user.posts.count
			posts
		=link_to followers_user_path(@user.id), class: "profile_btn middle" do
			%h3= @user.followers.count
			follower
		=link_to following_user_path(@user.id), class: "profile_btn right" do
			%h3= @user.following.count
			following