.post#post_form
  .top
    .article_title= post.article.title
    .article_site= post.article.source

  .body
    .form_main.clearfix
      .user_block.clearfix
        =image_tag current_user.image.url, class:"pull-left"
        =link_to current_user, class: "pull-left" do
          =current_user.name
          %p.user_shoulder_name
            =current_user.shoulder_name
      = form_with(model: post, remote: true) do |form|
        - if post.errors.any?
          #error_explanation
            %h2
              = pluralize(post.errors.count, "error")
              prohibited this post from being saved:
            %ul
              - post.errors.full_messages.each do |message|
                %li= message
        .field.form-group
          .form_label
            1. choose a category
          = select :tag, :category, @default_categories.map{|c| [c, c]}, {:prompt => "Please select"}, class: "form-control selectpicker tag_selection"
          
        .field.form-group
          .form_label
            2. choose a region
          = select :tag, :region, @default_regions.map{|r| [r, r]}, {:prompt => "Please select"}, class: "form-control selectpicker tag_selection"  
          
        .field.form-group#post_textarea
          .textarea_label.form_label
            3. insert your content
          = form.text_area :content, placeholder: "content", id: :post_content, class: "post_textarea form-control", style: "border: none; box-shadow: none; resize: none;"

          #autocomplete_tags
        = form.submit class: "form_btn #post_btn"
    .article_image.pull-right.form_image.hidden-xs{style: "background-image: url(#{post.article.image});"} 

     
=render 'js/autocomplete'
  

  


  

