
#post_form
	.body
		.form_main.clearfix
			= form_tag posts_path do
				.form_check_group.form-group
					.title
						.user_image_xs
							=user_image_helper(current_user)
						=t ('form.post.title')
					.check
						=check_box_tag "post[fake_news_report]", true, false
						=t ('form.post.fake_news_checkbox')
				.field.form-group#post_textarea
					.textarea
						= text_area_tag 'post[content]', '', placeholder: "#{t ('form.post.placeholder')}", class: "post_textarea"
					
					= hidden_field_tag 'post[category_id]', @article.category_id
					= hidden_field_tag 'article[image]', @article.image
					= hidden_field_tag 'article[url]', @article.url
					= hidden_field_tag 'article[source]', @article.source
					= hidden_field_tag 'article[title]', @article.title
					= hidden_field_tag 'article[published_time]', value: @article.published_time
					
					#autocomplete_tags
				.post_submit_menu
					#sns_post_form_menu
						=render 'snss/sns_post_form_menu', user: current_user

					.submit_btn_group
						= submit_tag "#{t ('form.post.submit')}", class: "form_btn post_submit_btn"	
						= submit_tag "#{t ('form.post.save')}", class: "form_btn post_save_btn"

						
				

=render 'js/autocomplete'


:javascript
	$("#post_textarea textarea").height(30);//init
	$("#post_textarea textarea").css("lineHeight","20px");//init
	
	$("#post_textarea textarea").on("input",function(evt){
		console.log("post_content");
	    if(evt.target.scrollHeight > evt.target.offsetHeight){
	        $(evt.target).height(evt.target.scrollHeight);
	    }else{
	        var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
	        while (true){
	            $(evt.target).height($(evt.target).height() - lineHeight);
	            if(evt.target.scrollHeight > evt.target.offsetHeight){
	                $(evt.target).height(evt.target.scrollHeight);
	            }
	            break;
	        }
	    }
	});
	