
.post.post_form{data: {form: "feed", country: "#{@country.id}"}}
	.body
		.post_article
			.post_image{ style: "background-image: url(#{article_image_helper @article_image});"}
			.article_info
				%h2.bold
					= truncate(@article_title, length: 40) do
						%span ...
				%p.xs.grey
					= @article_source  
		.form_main.clearfix
			= form_tag posts_path, remote: true do
				.field.form-group.form_check_group
					.select
						= select_tag "post[category_id]", options_from_collection_for_select(@categories, "id", "name"), prompt: "select a category", class: "form-control selectpicker tag_selection"
					.check
						=check_box_tag "post[fake_news_report]", true, false
						=t ('form.post.fake_news_checkbox')

				.field.form-group.post_textarea_wrapper
					.post_textarea_block.feed
						= text_area_tag 'post[content]', '', placeholder: "#{t ('form.post.placeholder')}", class: "post_textarea"
					
					= hidden_field_tag 'article[image]', @article_image
					= hidden_field_tag 'article[url]', @article_url
					= hidden_field_tag 'article[source]', @article_source
					= hidden_field_tag 'article[title]', @article_title
					= hidden_field_tag 'article[published_time]', value: @article_published_time
					
					#autocomplete_tags
						.autocomplete_tags_block
				.post_submit_menu
					#sns_post_form_menu
						=render 'snss/sns_post_form_menu', user: current_user

					.submit_btn_group
						= submit_tag "#{t ('form.post.submit')}", class: "form_btn post_submit_btn"	
						= submit_tag "#{t ('form.post.save')}", class: "form_btn post_save_btn"	

=render 'js/autocomplete'						
=render 'js/autosize'					




:javascript
	$(".post_textarea textarea").height(30);//init
	$(".post_textarea textarea").css("lineHeight","20px");//init
	
	$(".post_textarea textarea").on("input",function(evt){
		 
	    if(evt.target.scrollHeight > evt.target.offsetHeight){
	        $(evt.target).height(evt.target.scrollHeight);
	    }else{
	        var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
	        while (true){
	            $(evt.target).height($(evt.target).height() - lineHeight);
	            if(evt.target.scrollHeight > evt.target.offsetHeight){
	                $(evt.target).height(evt.target.scrollHeight);
	            }
	            break;
	        }
	    }
	});
	

