.post{class: "post post_#{post.id} clearfix"}
	.body
		.main
			.content.clearfix
				.user_block.clearfix{class: "user_#{post.user.id}"}
					=image_tag post.user.image.url, class:"pull-left img-circle user_image"
					.user_info
						=link_to post.user  do
							.give_me_short_ellipsis.light_navy.bold
								=post.user.name
						%p.user_shoulder_name.sm.grey
							=post.user.shoulder_name
							%i.fa.fa-clock-o
							#{time_ago_in_words_short(post.created_at)}
					.user_option.follow_switch.pull-right
						=render "/shared/follow_form_icon.html.haml", user: post.user
				%p.opinion
					=render_with_hashtags(post.content.gsub(/\n/, '<br />'))
			
				=link_to article_path(post.article_id), class: "post_article" do
					.image{ style: "background-image: url(#{post.article.image.url});"}
					.article_info
						%h2.bold
							= truncate(post.article.title, length: 40) do
								%span ...
						%p.xs.grey
							= post.article.source
							
		.status.md
			.post_like_link
				=render '/likes/like_post', post: post
			.comment_link
				COMMENT
				・
				.comment_count	
					= post.comments_count
			.option.pull-right
				%i.fa.fa-ellipsis-h.lg
	
	.comment_index		
		.comment_form.clearfix
			=render '/comments/form', post: post 
		- if post.comments_count > 1
			.view_link
				=render 'comments/view_more_link', post: post
		- if post.comments_count == 0
			.invite_comment.comment_link
				Be the first one to comment!!
		-else
			.comments
				=render 'comments/comment_wo_replies', comment: post.best_comment unless post.best_comment.nil?

:javascript
	$('.comment_link').click(function(){
		console.log("yeah");
		$(this).parents('.post').find('.comment_form').show();
		$(this).parents('.post').find('.comment_form textarea').focus();
	});
