
- posts.each do |post|
  .post{class: "post_#{post.id} clearfix"}
    .p_body
      .p_body_main
        .p_content.clearfix
          .user_block.clearfix
            =image_tag post.user.image.url, class:"pull-left img-circle"
            .user_info
              =link_to post.user do
                =post.user.name
                %span.grey
                  #{time_ago_in_words(post.created_at)} ago
              %p.user_shoulder_name
                =post.user.shoulder_name
          =render_with_hashtags(simple_format(post.content))
        .p_image{ style: "background-image: url(#{post.article_image.url});"}

      .p_status
        .like_link
          =render '/likes/like_post', post: post
        .comment_link
          %i.fa.fa-comment-o 
          =post.comments.count
        .comment_invite
          COMMENT
          %i.fa.fa-pencil


    %div{class:"other_post_#{post.id}", style: "margin-top: 10px"}
        
    .comments
      .comment_form.clearfix
        = render "comments/form", post: post
      - post.comments.each do |comment| 
        .comment.clearfix{class: "comment_#{comment.id}"}
          .c_body.clearfix
            .c_body_main.pull-left
              = render "shared/user_mini_profile", user: comment.user, object: comment
              =simple_format(comment.content)
              .c_status.clearfix
                .c_like_link
                  =render '/likes/like_comment', comment: comment
                .reply_link
                  %i.fa.fa-comment-o 
                  =comment.replies.count
                .reply_invite
                  Reply
          .replies
            .reply_form.clearfix
              = render "replies/form", comment: comment
            - comment.replies.each do |reply| 
              .reply.clearfix{class: "reply_#{reply.id}"}
                .r_content.clearfix
                  .r_content_main.pull-left
                    = render "shared/user_mini_profile", user: reply.user, object: reply
                    =simple_format(comment.content)
                    .c_status
                      .r_like_link
                        =render '/likes/like_reply', reply: reply
    