
-if post.content.nil? || post.content.empty? 
	.post{class: "post post_#{post.id} share wo_article"}
		.body
			.main
				.content
					.user_block{class: "user_#{post.user.id}"}
						.user_image
							=user_image_helper(post.user)
						.user_info_for_share
							%span
								=link_to post.user.name, post.user, class: "user_name"
								%i.fa.fa-share
								shared
								%span.time
									・#{time_ago_in_words(post.created_at)}
						-if post.user != current_user
							.user_option.follow_switch
								=render "/shared/follow_form_icon.html.haml", user: post.user
								

-else				
	.post{class: "post post_#{post.id} wo_article", data: {post_id: "#{post.id}"}}
		.body
			.user_block{class: "user_#{post.user.id}"}
				.user_image
					=user_image_helper(post.user)
				.user_info
					=link_to post.user  do
						%span.star
							BEST
						%span.user_name 
							=post.user.name
					%p.user_credential
						-unless post.user.credential.nil?
							#{post.user.credential}・
						%span.time
							#{time_ago_in_words(post.created_at)}
				.user_option.follow_switch
					=render "/shared/follow_form_icon.html.haml", user: post.user
			
			.content_block
				%p.opinion.post_opinion
					=render_with_hashtags(post.content.gsub(/\n/, '<br />'))
	
		
				.status.md
					.post_like_block
						=render '/likes/like_post', post: post
					-if current_user
						.link_btn.show_comment_modal_btn
							=render 'svg/chat_icon_circle'
							・
							%span.comment_count	
								= post.comments_count
					-else
						.comment_dummy_link.link_btn.login_signup_link
							=render 'svg/chat_icon_circle'
							・
							%span.comment_count	
								= post.comments_count		
					
					.option
						-if current_user
							%i.fa.fa-ellipsis-h.lg.option_link
							=render 'dropdown/post_option', post: post
						-else
							%i.fa.fa-ellipsis-h.lg.option_link.login_signup_link
		.comment_index_wrapper
			-unless post.comments_count == 0
				.comment_index		
					- if post.comments_count > 1
						.view_link
							=render 'comments/view_more_link', post: post
					.comments
						=render 'comments/comment', comment: post.best_comment unless post.best_comment.nil?



