
#form_wrapper.dark_over_lay
#form_modal

.index_nav
  .index_container.clearfix
    .post_nav_option.col-xs-6.active
      %i.fa.fa-address-card-o.fa-2x
      %br
        posts 
    .post_nav_option.col-xs-6
      %i.fa.fa-bar-chart.fa-2x
      %br
        score

.index_container
  .post_form
    =form_tag "/posts/load_url", remote: true do
      .form-group.input-group
        = url_field_tag :placeholder_url, "", placeholder: "paste url to start your post!", class: "url_form form-control"
        %span.input-group-btn
          = button_tag type: :submit, class: "btn" do
            %i.fa.fa-pencil-square-o
                
  
.index_container.posts.hidden-xs
  - @posts.each do |post|
    .post
      =link_to post.article_url do
        .p_top
          .p_article_title= post.article_title
          .p_article_site= post.article_site
     
        .p_body
          .p_content.clearfix
            .p_content_main.pull-left
              =render '/shared/user_profile', user: post.user, object: post
              =render_with_hashtags(simple_format(post.content))
            =image_tag post.article_image.index.url, class: "pull-right" 
          .p_status
        
  = paginate @posts     
.scroller-status.text-center
  .infinite-scroll-request
    .loading
      %i.fa.fa-spinner.fa-spin{ style:"margin-top: 30px;"}

    
 
            
  
.m_posts.visible-xs
  - @posts.each do |post|
    .m_post
      =link_to post.article_url do
        .m_p_top.clearfix
          .m_p_article_title.pull-left{style: "width: 80%;"}
            %p #{post.article_site}: 
            %p #{post.article_title}
          .m_p_article_image.pull-right{style: "background-image:url(#{post.article_image.index.url});"}
      .p_body.clearfix
        = render '/shared/user_profile', user: post.user, object: post
        =render_with_hashtags(simple_format(post.content))
 
    .scroller-status.text-center
      .infinite-scroll-request.loader-ellips
        %p
          %i.fa.fa-spinner.fa-spin
      %p.infinite-scroll-last
        End of content
      %p.infinite-scroll-error
        No more pages to load
    
    = paginate @posts
  
  

   
  
  
:javascript
  $('.posts').infiniteScroll({
    path: "nav.pagination a[rel=next]",
    append: '.post',
    status: '.scroller-status',
    hideNav: '.pagination'
    
  });
  
  $('.m_posts').infiniteScroll({
    path: "nav.pagination a[rel=next]",
    append: '.m_post',
    status: '.scroller-status',
    hideNav: '.pagination'
  });
  

