.sub_function_wrapper.search
	.sub_function_main_section
		#main_contents
			.post{class: "post post_#{@post.id}", data: {post_id: "#{@post.id}"}}
				.body
					.user_block{class: "user_#{@post.user.id}"}
						.user_image
							=user_image_helper(@post.user)
						.user_info
							=link_to @post.user, class: "user_name" do
								.give_me_short_ellipsis.bold
									=@post.user.name
							%p.user_credential
								-unless @post.user.credential.nil?
									#{@post.user.credential}・
								%span.time
									#{time_ago_in_words(@post.created_at)}
						.user_option.follow_switch
						
							=render "/shared/follow_form_icon.html.haml", user: @post.user
					
					.content_block	
						
						%p.opinion.post_opinion
							-if @post.content.nil? || @post.content.empty?
								%span.opinion_for_share
									%i.fa.fa-share-square
									=t('state.shared')
							-else
								=render_with_hashtags(@post.content.gsub(/\n/, '<br />'))
						-unless @post.tagged_user_ids.empty?
							=render 'posts/tagged_users_block', post: @post
							
						-if @post.article == nil
							%p.deleted_article	
								=t('state.deleted_article')
						-else
							=link_to article_path(@post.article_id), class: "post_article" do
								-if @post.article.image
									.image{ style: "background-image: url(#{article_image_helper @post.article.image.url });"}
								.article_info
									%h2.bold
										= universal_truncate(@post.article.title.html_safe, 120) do
											%span ...
									%p.xs.grey
										= @post.article.source
				
					-unless @post.content.nil? || @post.content.empty?			
						.status.md
							=render 'posts/post_menu', post: @post
										

				
		
				.comment_index_wrapper
					.comment_index
						.comments
							=render @post.comments.includes(:user).order(created_at: :asc) 
						

	


	.sub_function_sidebar
		.title_block
			%h2 
				=t ('sidebar.title.recommended_articles')
		.side_article_section
			-unless @side_articles.empty?
				= render partial: "articles/side_article", collection: @side_articles, as: :article
				
				
:javascript
	// post side menu open close
	$('.option_link').click(function () {
			var height = $(this).parents(".post").find('.opinion').css("height");
			console.log(height);
			$(this).parents(".post").find('.opinion').attr("data-height", height);
			// ボタンが押されたら、モーダルウィンドウを表示
			$(".ddm").hide();
			$(this).parents(".post").find('.post_ddm').css("display", "flex");
			
			return false;
	});
	
	$('body').click(function (event) {
	  if(!$(event.target).closest('.post_ddm').length && !$(event.target).is('.post_ddm')) {
		 $(".post_ddm").hide();
	  }     
	});