%p#notice= notice
%p
  %strong User:
  = @post.user_id
%p
  %strong Title:
  = @post.title
%p
  %strong Content:
  = @post.content
%p
  %strong Article title:
  = @post.article_title
%p
  %strong Article image:
  = @post.article_image
%p
  %strong Article url:
  = @post.article_url
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path
