.sub_function_wrapper.search
	.sub_function_main_section
		#main_contents
			.post{class: "post post_#{@post.id}", data: {post_id: "#{@post.id}"}}
				.body
		
					.user_block{class: "user_#{@post.user.id}"}
						.user_image
							=user_image_helper(@post.user)
						.user_info
							=link_to @post.user, class: "user_name" do
								.give_me_short_ellipsis.bold
									=@post.user.name
							%p.user_credential.sm.grey
								=@post.user.credential
								%span.time
									#{time_ago_in_words_short(@post.created_at)}
						.user_option.follow_switch
						
							=render "/shared/follow_form_icon.html.haml", user: @post.user
					
					.content_block	
						%p.opinion.post_opinion
							=render_with_hashtags(@post.content.gsub(/\n/, '<br />'))
						=render "posts/edit", post: @post
						-if @post.article == nil
							%p.deleted_article	
								This article has been deleted.
						-else
							=link_to article_path(@post.article_id), class: "post_article" do
								-if @post.article.image
									.image{ style: "background-image: url(#{article_image_helper @post.article.image.url });"}
								.article_info
									%h2.bold
										= universal_truncate(@post.article.title, 120) do
											%span ...
									%p.xs.grey
										= @post.article.source
									
					.status.md
						.post_like_block
							=render '/likes/like_post', post: @post
						-if current_user
							.comment_link.link_btn.show_comment_modal_btn
								=render 'svg/chat_icon_circle'
								・
								%span.comment_count	
									= @post.comments_count
						-else
							.comment_dummy_link.link_btn.login_signup_link
								=render 'svg/chat_icon_circle'
								・
								%span.comment_count	
									= @post.comments_count	
									
						.option
							%i.fa.fa-ellipsis-h.lg.option_link
							=render 'dropdown/post_option', post: @post
				
		
				.comment_index_wrapper
					.comment_index
						.comments
							=render @post.comments.includes(:user)
						

	


	.sub_function_sidebar
		.title_block
			%h2 
				=t ('sidebar.title.recommended_articles')
		.side_article_section
			-unless @side_articles.empty?
				= render partial: "articles/side_article", collection: @side_articles, as: :article
				
				
:javascript
	// post side menu open close
	$('.option_link').click(function () {
			var height = $(this).parents(".post").find('.opinion').css("height");
			console.log(height);
			$(this).parents(".post").find('.opinion').attr("data-height", height);
			// ボタンが押されたら、モーダルウィンドウを表示
			$(".ddm").hide();
			$(this).parents(".post").find('.post_ddm').css("display", "flex");
			
			return false;
	});
	
	$('body').click(function (event) {
	  if(!$(event.target).closest('.post_ddm').length && !$(event.target).is('.post_ddm')) {
		 $(".post_ddm").hide();
	  }     
	});