#side_nav
  =render 'layouts/feed_optimizer', default_category_tags: @default_category_tags, default_rigion_tags: @default_rigion_tags


#main_container
        
  .visible-xs#mobile_side_nav_link
    %i.fa.fa-hashtag
    
  .post#show_post_block{class: "post post_#{@post.id} clearfix"}
    =link_to "/posts/#{@post.id}/show_article" do
      .top
        .article_title
          = @post.article_title
        .article_site= @post.article_site
       
      .body
        .main
          .content.clearfix
            .user_block.clearfix{class: "user_#{@post.user.id}"}
              =image_tag @post.user.image.url, class:"pull-left"
              =link_to @post.user, class: "pull-left" do
                =@post.user.name
                %span.grey
                  #{time_ago_in_words(@post.created_at)} ago
                %p.user_shoulder_name
                  =@post.user.shoulder_name
              .follow_switch.pull-right
                =render "/shared/follow_form_icon.html.haml", user: @post.user
            =render_with_hashtags(simple_format(@post.content))
          .post_image{ style: "background-image: url(#{@post.article_image.url});"}
  
        .status
          .like_link
            =render '/likes/like_post', post: @post
          .comment_link
            %i.fa.fa-comment-o 
            =@post.comments.count
            
  #post_nav
    =link_to "READ THE ARTICLE", @post.article_url, class: "post_btn"
          
    
      
  #comment_form.clearfix
    = render "comments/form", post: @post
  
  #comment_index      
    .comments
      %h2.title
        COMMENTS・#{@post.comments.count}
      = render @post.comments
      
#sidebar.hidden-xs.hidden-sm
  = render 'sidebars/feed', top_articles: @top_articles, top_users: @top_users

  
