.post{class: "post post_#{@post.id} clearfix"}
	.body
		.main
			.content.clearfix
			
				// user information
				.user_block.clearfix{class: "user_#{@post.user.id}"}
					=image_tag @post.user.image.url, class:"pull-left img-circle user_image"
					.user_info
						=link_to @post.user  do
							.give_me_short_ellipsis.light_navy.bold
								=@post.user.name
						%p.user_shoulder_name.sm.grey
							=@post.user.shoulder_name
					.user_option.follow_switch.pull-right
						=render "/shared/follow_form_icon.html.haml", user: @post.user
				
				// post contents		
				=render_with_hashtags(@post.content.gsub(/\n/, '<br />'))
				%p.post_time.sm.grey
					#{time_ago_in_words(@post.created_at)} ago
			
				// link to the article
				=link_to article_path(@post.article_id), class: "post_article" do
					.image{ style: "background-image: url(#{@post.article.image.url});"}
					.article_info
						%h2.bold
							= truncate(@post.article.title, length: 40) do
								%span ...
						%p.xs.grey
							= @post.article.source
							
		.status.md
			.post_like_link
				=render '/likes/like_post', post: @post
			.comment_link
				COMMENT
				・
				.comment_count	
					= @post.comments_count
			.option.pull-right
				%i.fa.fa-ellipsis-h.lg
	
	.comment_index		
		.comment_form.clearfix
			=render '/comments/form', post: @post 

		.comments
			=render 'comments/comment', comment: @post.best_comment unless @post.best_comment.nil?
