
.post_url_form_modal.modal
	.close_modal_btn
		=render 'svg/close_icon'
	%h2.modal_content_title
		=t 'form.url.caption'
			
	.post_url_form.on_modal
		=render "shared/url_form_modal"
	.post_form_block
		.post_form_requirement
			%ul
				%li
					=t('form.url.note')
		.error_message
			=t('form.url.error')
			
		
-if current_user
	.post_form_modal.modal.post_form_modal_via_url
		.back_modal_btn
			=render 'svg/close_icon'
		%h2.modal_content_title
			%p.give_me_short_ellipsis
				
		%hr.modal_content_divider		
		.post_form{data: {form: "article", country: "#{@country.id}"}}
			.body 
				.form_main 
					= form_tag posts_path, class: "post_form from_url" do
						.field.form_check_group
							.select
								= select_tag "post[category_id]", options_from_collection_for_select(Category.all, :id, :translated_name), prompt: t('form.post.selectbox_placeholder'), class: "form-control selectpicker tag_selection"
	
		
						.field.form-group.textarea_wrapper 
							.textarea_block.textarea_block.still.large
								= text_area_tag 'post[content]', '', placeholder: "#{t ('form.post.placeholder')}", class: "article_post_content large"
								%p.textarea_error_message.too_long
									=t('form.post_errors.too_long') 
									%span.letter_count
								%p.textarea_error_message.category_undecided
									=t('form.post_errors.category_undecided')
							.user_search_block
								=render '/shared/search_user_to_tag', users: current_user.followers
									
							= hidden_field_tag 'article[image]', ''
							= hidden_field_tag 'article[url]', ''
							= hidden_field_tag 'article[source]', ''
							= hidden_field_tag 'article[title]', ''
							= hidden_field_tag 'article[published_time]', ''
							= hidden_field_tag 'article[keywords]', ''
							= hidden_field_tag 'article[description]', ''
							= hidden_field_tag 'post[tagged_user_ids]', '', class: "tagged_user_ids"

								
							#autocomplete_tags
								.autocomplete_tags_block
						%hr.modal_content_divider
						.post_submit_menu 
							.sns_post_form_menu
								=render 'snss/sns_post_form_menu', facebook_post: current_user.facebook_post, twitter_post: current_user.twitter_post
		
							.submit_btn_group
								.tag_user_btn.form_btn.for_article_post
									%span.closed
										=render 'svg/follow_icon'	
										%span.tagged_user_counter_on_menu
											0
									%span.opened
										%i.fa.fa-pencil
								= submit_tag "#{t ('form.post.submit')}", class: "form_btn post_submit_btn"	
