// home/top.html.haml uses the same structure

-content_for(:featured_article) do
	"show the featured article"
	
-if @sns_mode == "on"
	:css 
		.article .article_wrapper .best_post{
			display: block;
		}
	
		
.sub_function_wrapper
	.sub_function_main_section
		#main_contents.articles
			.title
				.social_mode_switch_block
					-if @sns_mode == "on"
						.social_mode_switch
							%i.fa.fa-toggle-on.fa-2x.fa-rotate-180.active
						.social_model_title
							SNS MODE ON
					-else
						.social_mode_switch
							%i.fa.fa-toggle-on.fa-2x
						.social_model_title
							SNS MODE OFF
				%span.divider
					\|
				%span
					#{@category.name}
			-if @articles.offset(1).empty?
				.result_not_found
					%h4.not_found_content
						=t('form.url.caption')
					.show_post_modal_btn.on_header.btn
						=t ('form.post.title')
						
						
			-else
				=render @articles.offset(1)
				-if @articles.count < 30
					.scroll_btn.stop_loading
						NO MORE ARTICLES	
				-else
					.scroll_btn.categorized_articles
						LOAD MORE	
						
	.sub_function_sidebar
		.title_block
			%h2
				=t ('sidebar.title.recent_articles')
		.recent_article_section
			-if @recent_articles.empty?
				.new_users_not_found
					%h4.not_found_content
						=t('not_found.new_articles')
			-else
				= render partial: "articles/side_recent_article", collection: @recent_articles, as: :article

:javascript

	$('.scroll_btn.categorized_articles').click(function(){
		var stop_loading = $(this).hasClass('stop_loading');
		if(!(stop_loading)){
			$.ajax({
				url: "#{load_categorized_articles_path}",
				type: "GET",
				data: {existing_articles : $('#main_contents').find('.article').length,
						category_id : "#{@category.id}"},
				dataType: 'script',
			})
			$(this).html("<i class='fa fa-spinner fa-pulse'></i>")
			$(this).addClass("loading");
		}
	})

	if(#{@sns_mode != "on"}){
		$('.article .best_post').hide();
	}

	$('.social_mode_switch_block').click(function(){
		var $switch = $(this).find('i');
		var $state = $(this).find('.social_model_title');
		if($switch.hasClass('active')){
			$switch.removeClass('active').removeClass('fa-rotate-180');
			$state.text('SNS MODE OFF');
			$('.article .best_post').hide();
			Cookies.set('sns_mode', "off");
		} else{
			$switch.addClass('active').addClass('fa-rotate-180');
			$state.text('SNS MODE ON');	
			$('.article .best_post').fadeIn();
			Cookies.set('sns_mode', "on");
		}
	});