
.mobile_ddm_header.mobile_locale_ddm
	.mobile_ddm_header_wrapper
		%h2.mobile_ddm_title
			Locale
		.close_mobile_ddm_btn
			=render 'svg/close_icon'	

.mobile_locale_ddm.ddm.mobile_ddm
	.mobile_locale_ddm_wrapper.ddm_wrapper
		.country 
			.menu_title
				%span
					Country
				%i.fa.fa-angle-down
			.menu_items
				-usa = Country.find_by(name: "United States")
				-japan = Country.find_by(name: "Japan")
				=link_to change_country_path(usa.id), class: "country_link_#{usa.id} menu_item", method: :post do
					.menu_item_left
						=render "flags/usa"
						%span
							United States
					%span.coming_soon
						coming soon
						
				=link_to change_country_path(japan.id), class: "country_link_#{japan.id} menu_item", method: :post do
					.menu_item_left
						=render "flags/japan"
						%span
							Japan
							
							
			.language
				.menu_title
					%span
						Language
					%i.fa.fa-angle-down
				.menu_items
					-Language.all.each do |language|
						=link_to change_language_path(language.id), class: "language_link_#{language.id} menu_item", method: :post do
							.menu_item_left.for_language
								%span
									=language.name	
		
:javascript			
	$('.country').find(".country_link_" + #{@country.id}).addClass("selected");
	$('.language').find(".language_link_" + #{@language.id}).addClass("selected");