.post_ddm.ddm
	.post_ddm_wrapper
		-if current_user && post.user.id == current_user.id
			.post_user_menu
				.edit_btn.ddm_btn
					EDIT
				.delete_btn.ddm_btn
					DELETE
					
		.regular_user_menu
			.report_btn.ddm_btn
				REPORT
		
		.option_modal
			.delete
				%h2
					Are you sure you want to delete your post?
				.delete_option
					=link_to "YES", post_path(post), method: :delete
					.cancel_btn.ddm_btn
						NO
				
			.report
				%h2
					Report inappropriate comments
				.report_form
					= form_tag create_report_post_path(post.id), remote: true do
						.field.form-group#report_textarea
							= text_area_tag 'report[content]', '', placeholder: "#{t ('form.post.placeholder')}", class: "report_textarea"
							= hidden_field_tag 'report[country_id]', value: @country.id
							.submit_btn_group
								= submit_tag "#{t ('form.post.submit')}", class: "form_btn form_submit_btn"	
								.cancel_btn.ddm_btn
									NO
				
:javascript
	$(".post_ddm .delete_btn").click(function(){
	   $(this).parents(".post_ddm").find(".option_modal").fadeIn();
	   $(this).parents(".post_ddm").find(".delete").show();
	});
	$(".post_ddm .report_btn").click(function(){
	   $(this).parents(".post_ddm").find(".option_modal").fadeIn();
	   $(this).parents(".post_ddm").find(".report").show();
	});
	
	
	$(".post_ddm .edit_btn").click(function(){
	   $(this).parents(".post").find(".edit_form").fadeIn();
	   $(this).parents(".post").find(".opinion").hide();
	   $(".post_ddm").hide();
	});	
	$('.post_ddm .option_modal').click(function (event) {
		if(!$(event.target).closest('.delete').length && !$(event.target).is('.delete')) {
			if(!$(event.target).closest('.report').length && !$(event.target).is('.report')) {
				$(".option_modal").hide();
				$(".option_modal .report").hide();
				$(".option_modal .delete").hide();
				$(".post_ddm").hide();
			}
		}     
	});
	
	$('.post_ddm .option_modal .cancel_btn').click(function(){
		$(".option_modal").hide();
		$(".option_modal .report").hide();
		$(".option_modal .delete").hide();
		$(".post_ddm").hide();	
	});
		
			
	
			

		