%header
	.header_container
		.left
			= link_to root_path, class: "logo" do
				
				NEWSB
			#locale_link
				// .setting_icon
				// 	=render "svg/location_icon"
				.setting
					=country_name_helper(@country.name)
					%br
					=language_name_helper(@language.name)
				
			=render "dropdown/locale" 
		.middle
			.search_bar
				=form_tag search_path(country: @country.name), method: "get" do
					=text_field_tag :keyword, params[:keyword], placeholder: "search"
					=submit_tag "", style: "display: none;"
					%i.fa.fa-search.form_icon
	
		.right
			=link_to ranking_weekly_user_path, class: "icon" do
				=render "svg/ranking_icon"	
			=link_to tags_path, class: "icon" do
				=render "svg/tag_icon"	
				
			-if user_signed_in?
				#notification_icon.icon
					=render "shared/notification_icon"
				#profile_option_link.user_image_sm.align_items_center
					=user_image_helper(current_user)
			-else
				.login_signup_link.header_btn 
					Login/Signup
			#create_post_btn_circle.show_post_modal_btn
				%span
					+

			=render 'dropdown/notifications'
			=render 'dropdown/profile_option'

#mobile_header

	-#=link_to tags_path, id: "mobile_locale_link" do
		-#=render 'svg/globe_icon'
	/ header left
	.search_bar
		%span.fa-stack.fa-lg.form_icon
			%i.fa.fa-circle.fa-stack-2x
			%i.fa.fa-search.fa-stack-1x
		=form_tag "/search", method: "get", id: "search" do
			=text_field_tag :keyword, params[:keyword], placeholder: "search"
			=submit_tag "", style: "display: none;"
			
	= link_to "NEWSB", root_path, id: "mobile_logo" 
	
	/ HEADER RIGHT     
	#account.menu_icon
		-if user_signed_in?
			#mobile_profile_option_link.user_image_sm
				=user_image_helper(current_user)
		-else
			.login_icon.login_signup_link
				=render 'svg/profile_icon_bold'
		
	#close_search_bar
		=render 'svg/close_icon'

#header_nav
	.nav_container
		=link_to " ", root_path, class: "selected_topic active", style: "pointer-events: none; display: none;"
		=link_to "TOP", root_path, class: "top_btn"
		=link_to all_posts_categories_path, class: "feed_btn" do
			FEED
			-if current_user
				%span.feed_notifications_count
					=current_user.feed_notifications.where(check: false).count
		-@categories.each do |category|
			=link_to category.name, articles_category_path(category.id), class: "#{category.name}_nav_btn"
		%span.padding
#flash_wrapper
	.notice_bar.for_js
		%span.notice_content
		=render 'svg/close_icon'
			
		
	-if flash[:notice]
		.notice_bar
			%span
				= flash[:notice]
			=render 'svg/close_icon'
			
	-if flash[:alert]
		.notice_bar
			%span
				= flash[:alert]
			=render 'svg/close_icon'

:css
	a.Lifestyle_nav_btn{
		padding-right: 20px;
	}

-if @category
	:javascript
		$('#header_nav').find( "." + "#{@category.name}" + "_nav_btn").addClass("active");
		var	position = $('#header_nav').find( "." + "#{@category.name}" + "_nav_btn").offset();
		var windowWidth = $(window).width();
		
		if(windowWidth - 100 < position.left){
			$('.nav_container').animate({scrollLeft: position.left - 50}, 500, "swing");
		}
		// $('#header_nav .selected_topic').text("#{@category.name}").show();
	
-elsif @current_topic
	:javascript
		$('#header_nav .selected_topic').text("#{@current_topic}").show();

-elsif @all_posts
	:javascript
		$('#header_nav').find(".feed_btn").addClass("active");
		// $('#header_nav').find(".feed_btn").css("border-bottom", "1px solid #009a00");
		// $('#header_nav').find(".feed_btn .feed_notifications_count").css("background-color", "#009a00");

-elsif @all_topic
	:javascript
		$('#header_nav').find(".top_btn").addClass("active");


:javascript	
	$('#notification_icon').click(function () {
		// ボタンが押されたら、モーダルウィンドウを表示
		$(".ddm").hide();
		$('#notification_ddm').css("display", "block");
		$('body').addClass("fixed");
		$.ajax({
			url: "#{check_notifications_users_path}",
			type: "POST",
			dataType: 'script',
		})
		$('#notification_icon .notifications_count').hide();
		$('#notification_icon .notification_fire').hide();
		return false;
	});

	$('body').click(function (event) {
		if(!$(event.target).closest('#notification_ddm').length && !$(event.target).is('#notification_ddm')) {
			$("#notification_ddm").hide();
			// $('body').removeClass("fixed");
		}
	});
		
	$('#profile_option_link').click(function () {
		$(".ddm").hide();
		$('#profile_option_ddm').css("display", "flex");
		return false;
	});

	$('body').click(function (event) {
		if(!$(event.target).closest('#profile_option_ddm').length && !$(event.target).is('#profile_option_ddm')) {
			$("#profile_option_ddm").hide();
		}     
	});

	$("#mobile_header .search_bar").click(function(){
		$("#mobile_logo").hide();
		$(this).css("flex", "1");
		$(this).find("#search input").focus();
		$("#account").hide();
		$("#close_search_bar").show();
	});
	
	$("#close_search_bar").click(function(){
		$("#mobile_logo").show();
		$("#mobile_header .search_bar").css("flex", "none");
		$("#account").show();
		$("#close_search_bar").hide();
	});
	
	$('#locale_link').click(function () {
		// ボタンが押されたら、モーダルウィンドウを表示
		$(".ddm").hide();
		$('#locale_ddm').css("display", "flex");
		current_url = location.href 
		document.cookie = 'previous_url=' + current_url;
		return false;
	});

	$('body').click(function (event) {
		if(!$(event.target).closest('#locale_ddm').length && !$(event.target).is('#locale_ddm')) {
			$("#locale_ddm").hide();
		}     
	});