
%header.hidden-xs
	.header_container
		.left
			= link_to image_tag("logo_white.png", style: "width: 110px"), root_path, id: "logo", class: "hidden-xs"   
			
					
			#locale_link
				.setting_icon
					=render "svg/globe_icon"
				.setting
					#{@country.name}
					%br
					#{@language.name}
			=render "dropdown/locale" 
		.middle
			.search_bar
				=form_tag "/search", method: "get" do
					=text_field_tag :key_word, params[:key_word], placeholder: "search"
					=submit_tag "", style: "display: none;"
					%i.fa.fa-search.form_icon
	
		.right
			=link_to ranking_weekly_user_path, class: "icon" do
				=render "svg/ranking_icon"	
			=link_to tags_path, class: "icon" do
				=render "svg/tag_icon"	
			=link_to root_path, class: "icon" do
				=render "svg/notification_icon"	
			-if user_signed_in?
				=link_to destroy_user_session_path, class: "icon" do
					=image_tag current_user.image.url, class: "img-circle profile_xs"
			-else
				= link_to user_facebook_omniauth_authorize_path, class: "login_icon" do
					=render 'svg/profile_icon_bold'

#mobile_header

	=link_to tags_path, id: "menu_icon" do
		%i.fa.fa-bars
			
	.search_bar
		%i.fa.fa-search.form_icon
		=form_tag "/search", method: "get", id: "search" do
			=text_field_tag :key_word, params[:key_word], placeholder: "search"
			=submit_tag "", style: "display: none;"
	
	/ HEADER RIGHT     
	#account.menu_icon
		-if user_signed_in?
			=link_to destroy_user_session_path, id: "profile_icon" do
				=image_tag current_user.image.url
		-else
			= link_to user_facebook_omniauth_authorize_path, class: "login_icon" do
				=render 'svg/profile_icon_bold'





- cache "header_nav" do
	#header_nav
		.nav_container
			=link_to " ", root_path, class: "selected_topic active", style: "pointer-events: none; display: none;"
			=link_to "All", root_path, class: "all_nav_btn"
			-@categories.each do |category|
				=link_to category.name, articles_category_path(category.id), class: "#{category.name}_nav_btn"
			%span.padding

-if @category
	:javascript
		$('#header_nav').find( "." + "#{@category.name}" + "_nav_btn").hide();
		$('#header_nav .selected_topic').text("#{@category.name}").show();
	
-elsif @current_topic
	:javascript
		$('#header_nav .selected_topic').text("#{@current_topic}").show();

-elsif @all_topic
	:javascript
		$('#header_nav').find(".all_nav_btn").addClass("active");
		
:javascript
	$('#locale_link').click(function(){
		$('#locale_ddm').css("display", "flex");
	});