!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Newsparty
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    
  %body
    %header
      .header_left.pull-left
        .logo.pull-left
          = link_to "platform", root_path, id: "logo", class: "pull-left"
        .search_form.pull-left
          = form_tag "/search" do
            .form-group.pull-left.search_bar
              %i.glyphicon.glyphicon-search.search_icon{style: "color: black;"}
              = text_field_tag :search, "", placeholder: "think together, think better", class: "form-control", style: "background-color: white; border: 0; border-radius: 100px;"
              
              
              
      .header_right.pull-right  
        -if user_signed_in?
          #dropdown_btn.pull-right
            %i.fa.fa-ellipsis-h.fa-2x.pull-right
        -else
          %li.pull-right= link_to "facebookでログイン", user_facebook_omniauth_authorize_path
    
    %ul#dropdown_menu
      %li
        = link_to "Top", root_path
      %li
        = link_to "Users", users_path
      %li
        = link_to "News", article_index_path
      %li
        = link_to 'Logout', destroy_user_session_path
            
     
              
            
    - if notice 
      %p#notice= notice
    - if alert
      %p#alert= alert
    =yield
    
    %footer
      %ul
        %li Thank you for visiting 
        %li Natsuki Production
        %li come back soon!!
        
        
:javascript      
  $('#dropdown_btn').click(function(){
    if($('#dropdown_menu').hasClass("open")){
      $('#dropdown_menu').removeClass("open").fadeIn();
    } else {
      $('#dropdown_menu').addClass("open").fadeOut();
    }
  });     
