!!!
%html
	%head
		= render :partial => "layouts/meta_tags"
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nova+Flat"
		= javascript_include_tag 'application'
	%body
		.flex_container
			-if  yield(:header).empty? == true
				=render 'layouts/header'

			-if  yield(:featured_article).empty? == false && @featured_article.nil? == false
				#featured_article_wrapper
					=render "/articles/featured_article", article: @featured_article, best_post: @best_post, related_articles: @related_articles
				.flex_wrapper.clearfix  
					#sidebar_left
						=render "/sidebars/left_profile", user: current_user
					#main_container
						=yield
			
			-elsif  yield(:selected_article).empty? == false && @article.nil? == false
				#selected_article_wrapper
					=render "/articles/selected_article", article: @article
				.flex_wrapper.clearfix  
					#sidebar_left
						=render "/sidebars/left_profile", user: current_user
					#main_container
						=yield
			

			-elsif yield(:sidebar).empty? == true
				.flex_wrapper.clearfix  
					#sidebar_left
						=render "/sidebars/left_profile", user: current_user
					#main_container
						=yield
			
			
			-elsif yield(:profile).empty? == false
				.user_profile_container
					=render 'shared/user_profile', user: @user
				.flex_wrapper.on_user_profile.clearfix 
					#main_container
						=yield
			
			
			-elsif yield(:general).empty? == false
				=yield
				=render 'layouts/footer' 
			-else
				.flex_wrapper.clearfix 
					#main_container
						=yield
					
		
		#mobile_footer
			=render 'layouts/mobile_footer'
			
		#signin_modal.modal
			=render 'modals/signin'
			
		#post_modal.modal
			=render 'modals/post'
		
		#mobile_locale
			=render 'dropdown/mobile_locale'
			
		#mobile_notification
			=render 'dropdown/mobile_notifications'
			
		#mobile_post
			=render 'dropdown/mobile_post'
	
		#mobile_profile_option
			=render 'dropdown/mobile_profile_option'


:javascript
	$("textarea").bind('paste', function(e) {
	 var self = this;
		  setTimeout(function(e) {
			alert($(self).val());
		  }, 0);
	});