!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Newsparty
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    
  %body
    .flex_container
      %header.text-center
        = link_to image_tag("logo_circle.png", style: "width: 150px; margin-top: 20px;"), root_path, id: "logo"   
        #menu
          %i.fa.fa-bars
        #account
          -if user_signed_in?
            =link_to destroy_user_session_path, class: "pull-right image_link" do
              =image_tag current_user.image.url, class: "profile_xs img-circle"
          -else
            = link_to "facebookでログイン", user_facebook_omniauth_authorize_path
    
      - if notice 
        %p#notice= notice
      - if alert
        %p#alert= alert
      .flex_wrapper.clearfix  
        =yield
      

        
        
:javascript      
  $('#dropdown_btn').click(function(){
    if($('#dropdown_menu').hasClass("open")){
      $('#dropdown_menu').removeClass("open").fadeIn();
    } else {
      $('#dropdown_menu').addClass("open").fadeOut();
    }
  });     
