!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name: "turbolinks-cache-control", content: "no-preview"}
		%title Newsparty
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nova+Flat"
		= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster+Two"
		= javascript_include_tag 'application'

	%body
		.flex_container
		
			=render 'layouts/header'

			-if  yield(:featured_article).empty? == false
				#featured_article_wrapper
					=render "/articles/featured_article", article: @articles.first
				.flex_wrapper.clearfix  
					#sidebar_left
						=render "/sidebars/left_profile", user: current_user
					#main_container
						=yield

			-elsif yield(:sidebar).empty? == true
				.flex_wrapper.clearfix  
					#sidebar_left
						=render "/sidebars/left_profile", user: current_user
					#main_container
						=yield
				
			-elsif yield(:profile).empty? == false
				=render 'shared/user_profile', user: @user
				.flex_wrapper.on_user_profile.clearfix 
					#main_container
						=yield
			
			-else
				.flex_wrapper.clearfix 
					#main_container
						=yield
					
		
		#mobile_footer
			=render 'layouts/mobile_footer'
			
		#signin_modal.modal
			=render 'modals/signin'
			
		#post_modal.modal
			=render 'modals/post'
			
								
